.checkbox {
  display: none;
}

.label {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;

  .box {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .openBracket, .closeBracket {
      font-size: 0.7rem;
    }

    .xCheckMark {
      width: 7px;
      padding: 0 2px;
      font-size: 0.8rem;
      opacity: 0.5;
      color: #ffffff;
    }

    .checked {
      color: #42fc60;
      opacity: 1;
    }
  }

  .labelText {
    font-size: 0.6rem;
    margin-left: 3px;
    margin-top: 2px;
  }
}