.loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .eventHistory {
    padding: 25px;
    width: 100%;
    max-width: 525px;

    .activeOperation {
      opacity: 1;
      color: #fff;
      font-weight: 600;
    }

    .historicalOperation {
      opacity: 0.5;
    }

    .progress {
      margin-left: 8px;
      width: 100%;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .eventItem {
      font-family: 'Nunito', sans-serif;
      font-size: 1.6em;
      padding: 5px;
      color: white;
      margin-bottom: 15px;
      animation: fadeIn 1s ease-out;
      display: flex;
      flex-direction: column;
      gap: 8px;
      transition: all 1s ease-in-out;

      .eventName {
        margin-bottom: -8px;
      }

      .payloadInfo {
        display: flex;
        align-items: center;
        gap: 8px;

        .payloadText {
          color: #c0c0c0;
          font-size: 1rem;
        }

        .done {
          font-size: 0.6em;
          color: #3ace3a;
          margin-top: 1px;
        }

        .spinner {
          color: white;
        }
      }
    }
  }
}