.loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .eventHistory {
    position: relative;
    max-height: 300px;

    .activeOperation {
      color: #646cff !important;
    }

    .progress {
      margin-left: 8px;
      width: 100%;
    }

    .eventItem {
      font-family: 'Nunito', sans-serif;
      font-size: 2em;
      padding: 5px;
      color: white;
      margin-bottom: 5px;
      opacity: 1;
      transition: opacity 0.5s ease-out;
      animation: fadeIn 0.5s ease-out;

      &:nth-child(n + 6) {
        opacity: 0;
      }
    }
  }
}