.container {
  position: absolute;
  width: 275px;
  height: 100px;
  background-color: #2d2d2d;
  border-radius: 30px;
  z-index: 100;
  padding: 20px;
  display: flex;
  font-family: "Nunito", sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  left: 500px;
  top: 500px;

  .carousel {
    .carouselItem {
      height: 100px;
      display: flex !important;
    }
  }

  .content {
    margin-left: 15px;
    height: 100%;

    .title {
      margin-top: 0;
      margin-bottom: 3px;
      font-weight: bold;
    }

    .duration {
      font-size: 1.2em;
      margin: 0;
    }

    .percentage {
      font-weight: bold;
      margin: 0;
      font-size: 1.5em;
    }

    .good {
      color: #52ea69;
    }

    .bad {
      color: #ef3970;
    }
  }
}