.showcase {
  .content {
    .heading {
      color: white;
      font-size: 3em;
    }

    .duration {
      color: white;
      font-size: 2em;
    }

    .quality {
      color: white;
      font-size: 2em;
    }

    .sleepQuality {
      color: #50e749;
      font-size: 3em;
    }
  }
}