.info {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  position: relative;
  height: 100%;

  .close {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #dad5d5;
    transition: all ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      color: #f15151;
    }
  }

  .text {
    margin: 0;
  }
}