.showcase {
  width: 100%;
  position: relative;

  .content {
    z-index: 10;

    .averageWakeupText {
      font-size: 2em;
      color: white;
    }

    .averageWakeUpTime {
      font-size: 2em;
      color: white;
    }
  }
}