@import 'styles/colours';

.page {
  height: 100%;
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;

  .content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @keyframes fadeOut {
      to {
        opacity: 0;
      }
    }

    .headerExiting {
      animation: fadeOut 1s forwards;
    }

    .header {
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 5em;
        line-height: 1.4em;
        font-weight: bold;
        margin-left: -5px;
        margin-bottom: 0;
        color: white;
      }

      .headerBottom {
        display: flex;

        .subheading {
          font-size: 1.4em;
          margin-top: 0;
          color: #d9d9d9;
          margin-bottom: 5em;

          .dataSourceLink {
            color: $quality;
          }
        }

        .sleepingAnimation {
          font-family: "Nunito", sans-serif;
          height: 100%;

          >span {
            color: #d7d7d7;
          }
        }
      }
    }

    .startButton {
      font-weight: bold;
      font-size: 2em;
      padding: 25px;
      max-width: 150px;
    }
  }
}