@import 'styles/colours';

.page {
  height: 100%;
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;

  .scene {
    background-color:#113755;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index:-10;
  }

  .mountains {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    filter: drop-shadow(inset 0 7px 9px -7px rgba(0,0,0,0.4));

    &:before {
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: #144569;
      clip-path: polygon(var(--path));
      content: ''
    }
  }

  .moon {
    $size: 6em;

    height: $size;
    width: $size;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    top: 20%;
    box-shadow: 0 0 1px 15px rgba(32, 105, 149,0.6),
    0 0 1px 35px rgba(32, 105, 149,0.5),
    0 0 1px 50px rgba(32, 105, 149,0.3),
    0 0 1px 70px rgba(32, 105, 149,0.1);
  }

  .moon:before {
    position: absolute;
    content: "";
    background-color: #EBEFE7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 1em;
    left: 1.5em;
  }

  .moon:after {
    position: absolute;
    content: "";
    background-color: #EBEFE7;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 2em;
    left: 0.8em;
  }

  .land{
    height: 30%;
    width: 100%;
    background-color: #041524;
    position: absolute;
    bottom: -5px;
    clip-path: polygon(0 53%, 100% 78%, 100% 100%, 0% 100%);
  }

  $size: 4;

  .windmill {
    height: 0;
    width: #{2 * $size}em;
    border-bottom: #{3.8 * $size}em solid #041524;
    border-left: #{0.25 * $size}em solid transparent;
    border-right: #{0.25 * $size}em solid transparent;
    position: absolute;
    bottom: 5%;
    right: 20%;
  }

  .windmill:before {
    position: absolute;
    content: "";
    background-color: #041524;
    height: #{1 * $size}em;
    width: #{2 * $size}em;
    bottom: #{-0.1 * $size}em;
    left: #{0.02 * $size}em;
    border-radius: #{2 * $size}em #{2 * $size}em 0 0;
  }

  .top {
    position: absolute;
    content: "";
    width: #{2.4 * $size}em;
    height: 0;
    border-bottom: #{0.6 * $size}em solid #0B2231;
    border-left: #{0.1 * $size}em solid transparent;
    border-right: #{0.1 * $size}em solid transparent;
    position: absolute;
    right: #{-0.32 * $size}em;
    top: #{0.1 * $size}em;
  }

  .light {
    height: #{0.4 * $size}em;
    width: #{0.4 * $size}em;
    background-color: #8DAF76;
    position: absolute;
    top: #{1.2 * $size}em;
    left: #{0.8 * $size}em;
    border-radius: 50%;
    box-shadow: 0 0 #{0.1 * $size}em #{0.2 * $size}em rgba(141, 175, 118, 0.3),
    0 0 #{0.1 * $size}em #{0.4 * $size}em rgba(141, 175, 118, 0.2);
  }

  .door {
    background-color: #0f304f;
    height: #{0.8 * $size}em;
    width: #{0.8 * $size}em;
    position: absolute;
    bottom: #{-3.6 * $size}em;
    left: #{0.55 * $size}em;
    border-radius: #{1 * $size}em #{1 * $size}em 0 0;
  }

  .blades {
    height: #{6 * $size}em;
    width: #{6 * $size}em;
    position: absolute;
    bottom: #{-3 * $size}em;
    left: #{-2 * $size}em;
    animation: rotate 5s infinite linear;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .bl {
    height: #{2.5 * $size}em;
    width: #{0.8 * $size}em;
    background-color: #041524;
    position: absolute;
  }

  .bl:before {
    position: absolute;
    content: "";
    background-color: #041524;
    height: #{0.6 * $size}em;
    width: #{0.15 * $size}em;
    top: #{2.5 * $size}em;
    left: #{0.3 * $size}em;
  }

  .bl1 {
    margin: auto;
    left: 0;
    right: 0;
  }

  .bl2 {
    margin: auto;
    top: 0;
    bottom: 0;
    transform: rotate(-90deg);
    left: #{0.8 * $size}em;
  }

  .bl3 {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }

  .bl4 {
    margin: auto;
    top: 0;
    bottom: 0;
    transform: rotate(90deg);
    right: #{0.8 * $size}em;
  }

  .star {
    height: 3px;
    width: 3px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    animation: twinkle 2s infinite;
    -webkit-animation: twinkle 2s infinite;
  }

  @keyframes twinkle{
    50%{
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @-webkit-keyframes twinkle{
    50%{
      opacity: 1;
      -webkit-transform: scale(1.2);
    }
  }

  $star-top-boundary: 10%;
  $start-left-boundary: 15%;

  .s1 {
    top: $star-top-boundary;
    left: $start-left-boundary;
  }

  .s2{
    top: $star-top-boundary + 5%;
    left: $start-left-boundary + 5%;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  .s3{
    top: $star-top-boundary + 10%;
    left: $start-left-boundary + 10%;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  .s4{
    top: $star-top-boundary + 15%;
    left: $start-left-boundary + 15%;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
  .s5{
    top: $star-top-boundary + 20%;
    left: $start-left-boundary + 20%;
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
  }
  .s6{
    top: $star-top-boundary + 20%;
    left: $start-left-boundary + 50%;
    animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
  }
  .s7{
    top: $star-top-boundary + 16%;
    left: $start-left-boundary + 26%;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }

  .shooting{
    height: 3px;
    width: 40px;
    background-color: white;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    position: absolute;
    right: -10px;
    opacity: 0.2;
    animation: shoot 15s infinite linear;
    -webkit-animation: shoot 15s infinite linear;
  }

  @keyframes shoot{
    10%{
      transform:rotate(-30deg) translate(-4000px, 0px);
    }
    100%{
      transform:rotate(-30deg) translate(-4000px, 0px);
    }
  }

  @-webkit-keyframes shoot{
    10%{
      -webkit-transform:rotate(-30deg) translate(-550px ,0px);
    }
    100%{
      -webkit-transform:rotate(-30deg) translate(-550px ,0px);
    }

  }
  .tree{
    height: 0;
    width: 0;
    border-bottom: 32px solid #041524;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: 40%;
    left: 50px;
    z-index: 1;
  }
  .tree:before{
    position: absolute;
    content: "";
    border-bottom: 25px solid #041524;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -35px;
    left: 3px;
  }

  $day: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
  $night: linear-gradient(#14045f, #331a99, #272bce, #1555ec, #1e84f7);

  .sky {
    background: $day;
    animation: colours 12s infinite forwards;
    width: 50%;
    height: 50%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
  }

  @keyframes colours {
    10% {
      background: $day;
    }
    53% {
      background: $night;
    }
    55% {
      background: $night;
    }
    98% {
      background: $day;
    }
    100% {
      background: $day;
    }
  }

  .content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 5em;
        line-height: 1.4em;
        font-weight: bold;
        margin-left: -5px;
        margin-bottom: 0;
        color: white;
      }

      .headerBottom {
        display: flex;

        .subheading {
          font-size: 1.4em;
          margin-top: 0;
          color: #d9d9d9;
          margin-bottom: 5em;

          .dataSourceLink {
            color: #4ab0f8
          }
        }

        .sleepingAnimation {
          font-family: "Nunito", sans-serif;
          height: 100%;

          >span {
            color: #d7d7d7;
          }
        }
      }
    }

    .startButton {
      font-weight: bold;
      font-size: 2em;
      padding: 25px;
      max-width: 150px;
    }
  }
}