@import 'styles/colours';

.page {
  height: 100%;
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito", sans-serif;

  .content {
    max-width: 1000px;
    width: 100%;

    .header {
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 5em;
        line-height: 1.4em;
        font-weight: bold;
        margin-left: -5px;
        margin-bottom: 0;
      }

      .headerBottom {
        display: flex;

        .subheading {
          font-size: 1.4em;
          margin-top: 0;

          .dataSourceLink {
            color: #4ab0f8
          }
        }

        .sleepingAnimation {
          font-family: "Nunito", sans-serif;
          height: 100%;

          >span {
            color: $quality;
          }
        }
      }
    }

    .startButton {
      font-weight: bold;
      font-size: 2em;
      padding: 25px;
    }
  }
}