.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #0e0e0e;

  .controls {
    position: absolute;
    top: 10px;
    right: 10px;

    .metricConfig {
      margin-bottom: 10px;
    }
  }
}