.scene {
  background: linear-gradient(#081b2a, #113755);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index:-10;
}

.mountains {
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0;
  filter: drop-shadow(inset 0 7px 9px -7px rgba(0,0,0,0.4));

  &:before {
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: #144569;
    clip-path: polygon(var(--path));
    content: ''
  }
}

$moonSize: 8em;

.moon {
  height: $moonSize;
  width: $moonSize;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 20%;
  top: 15%;
  box-shadow: 0 0 1px 15px rgba(32, 105, 149,0.6),
  0 0 1px 35px rgba(32, 105, 149,0.5),
  0 0 1px 50px rgba(32, 105, 149,0.3),
  0 0 1px 70px rgba(32, 105, 149,0.1);
}

.moon:before {
  position: absolute;
  content: "";
  background-color: #EBEFE7;
  border-radius: 50%;
  $size: $moonSize / 6;
  height: $size;
  width: $size;
  top: $moonSize / 4;
  left: $moonSize / 5;
}

.moon:after {
  position: absolute;
  content: "";
  background-color: #EBEFE7;
  border-radius: 50%;
  $size: $moonSize / 8;
  height: $size;
  width: $size;
  top: $moonSize / 2.2;
  left: $moonSize / 3;
}

.land {
  height: 30%;
  width: 100%;
  background-color: #041524;
  position: absolute;
  bottom: -5px;
  clip-path: polygon(0 53%, 100% 78%, 100% 100%, 0% 100%);
}

$windmillSize: 4;

.windmill {
  height: 0;
  width: #{2 * $windmillSize}em;
  border-bottom: #{3.8 * $windmillSize}em solid #041524;
  border-left: #{0.25 * $windmillSize}em solid transparent;
  border-right: #{0.25 * $windmillSize}em solid transparent;
  position: absolute;
  bottom: 5%;
  right: 20%;
}

.windmill:before {
  position: absolute;
  content: "";
  background-color: #041524;
  height: #{1 * $windmillSize}em;
  width: #{2 * $windmillSize}em;
  bottom: #{-0.1 * $windmillSize}em;
  left: #{0.02 * $windmillSize}em;
  border-radius: #{2 * $windmillSize}em #{2 * $windmillSize}em 0 0;
}

.top {
  position: absolute;
  content: "";
  width: #{2.4 * $windmillSize}em;
  height: 0;
  border-bottom: #{0.6 * $windmillSize}em solid #0B2231;
  border-left: #{0.1 * $windmillSize}em solid transparent;
  border-right: #{0.1 * $windmillSize}em solid transparent;
  right: #{-0.32 * $windmillSize}em;
  top: #{0.1 * $windmillSize}em;
}

.light {
  height: #{0.4 * $windmillSize}em;
  width: #{0.4 * $windmillSize}em;
  background-color: #8DAF76;
  position: absolute;
  top: #{1.2 * $windmillSize}em;
  left: #{0.8 * $windmillSize}em;
  border-radius: 50%;
  box-shadow: 0 0 #{0.1 * $windmillSize}em #{0.2 * $windmillSize}em rgba(141, 175, 118, 0.3),
  0 0 #{0.1 * $windmillSize}em #{0.4 * $windmillSize}em rgba(141, 175, 118, 0.2);
}

.door {
  background-color: #0f304f;
  height: #{0.8 * $windmillSize}em;
  width: #{0.8 * $windmillSize}em;
  position: absolute;
  bottom: #{-3.6 * $windmillSize}em;
  left: #{0.55 * $windmillSize}em;
  border-radius: #{1 * $windmillSize}em #{1 * $windmillSize}em 0 0;
}

.blades {
  height: #{6 * $windmillSize}em;
  width: #{6 * $windmillSize}em;
  position: absolute;
  bottom: #{-3 * $windmillSize}em;
  left: #{-2 * $windmillSize}em;
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.bl {
  height: #{2.5 * $windmillSize}em;
  width: #{0.8 * $windmillSize}em;
  background-color: #041524;
  position: absolute;
}

.bl:before {
  position: absolute;
  content: "";
  background-color: #041524;
  height: #{0.6 * $windmillSize}em;
  width: #{0.15 * $windmillSize}em;
  top: #{2.5 * $windmillSize}em;
  left: #{0.3 * $windmillSize}em;
}

.blade1 {
  margin: auto;
  left: 0;
  right: 0;
}

.blade2 {
  margin: auto;
  top: 0;
  bottom: 0;
  transform: rotate(-90deg);
  left: #{0.8 * $windmillSize}em;
}

.blade3 {
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.blade4 {
  margin: auto;
  top: 0;
  bottom: 0;
  transform: rotate(90deg);
  right: #{0.8 * $windmillSize}em;
}

.foregroundStar {
  height: 3px;
  width: 3px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  animation: twinkle 2s infinite;
  -webkit-animation: twinkle 2s infinite;
}

.backgroundStar {
  height: 2px;
  width: 2px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
}

@keyframes twinkle {
  50%{
    opacity: 1;
    transform: scale(1.2);
  }
}

@-webkit-keyframes twinkle {
  50%{
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
}

$star-top-boundary: 10%;
$start-left-boundary: 15%;

.shootingStar1 {
  height: 3px;
  width: 40px;
  background-color: white;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  position: absolute;
  right: -10px;
  opacity: 0.2;
  animation: shoot 15s infinite linear;
  -webkit-animation: shoot 15s infinite linear;
}

.shootingStar2 {
  height: 3px;
  width: 40px;
  background-color: white;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  position: absolute;
  right: -100px;
  opacity: 0.2;
  animation: shoot 25s infinite linear;
  -webkit-animation: shoot 25s infinite linear;
}

@keyframes shoot{
  10%{
    transform:rotate(-30deg) translate(-4000px, 0px);
  }
  100%{
    transform:rotate(-30deg) translate(-4000px, 0px);
  }
}

@-webkit-keyframes shoot{
  10%{
    -webkit-transform:rotate(-30deg) translate(-550px ,0px);
  }
  100%{
    -webkit-transform:rotate(-30deg) translate(-550px ,0px);
  }

}

.tree {
  height: 0;
  width: 0;
  border-bottom: 50px solid #041524;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: calc(14% - 50px);
  left: 25%;
  z-index: 1;
}

.tree:before {
  position: absolute;
  content: "";
  border-bottom: 100px solid #041524;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -35px;
  left: 3px;
}