.chart {
  position: relative;

  .percentageCircle {
    transform: rotate(-90deg);

    .track {
      opacity: 0.2;
    }

    .progress {
      transition: stroke-dashoffset 0.5s ease-in-out;
      transform-origin: center;
    }

    .innerTrack {
      opacity: 0.2;
    }

    .innerProgress {
      transition: stroke-dashoffset 0.5s ease-in-out;
      transform-origin: center;
    }
  }
}