.placeholder {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all ease-in-out 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .infoIcon {
    font-size: 2em;
  }

  .selectText {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
  }

  .metrics {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    .checkbox {
    }
  }
}