.container {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;

  .top {
    gap: 8px;
    display: flex;
    align-items: center;

    .sessions {
      margin: 0;
      font-size: 0.8rem;
      text-transform: uppercase;

      >span {
        transition: all ease-in-out 0.5s;
      }
    }

    .github {
      font-size: 1.1em;
      color: #d5d5d5;
      transition: all ease-in-out 0.2s;

      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .bottom {
    display: flex;
    gap: 8px;
    align-items: center;

    .dataExportVersion {
      color: #e1e1e1;
      opacity: 0.6;
      font-size: 0.7rem;
      transition: all ease-in-out 0.2s;

      &:hover {
        color: #ffffff;
        opacity: 1;
      }
    }

    .pillowLogo {
      height: 20px;
      transition: all ease-in-out 0.2s;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      img {
        width: 18px;
        height: 20px;
      }
    }
  }
}